In [33]:
import pandas as pd

ep_clean = pd.read_csv(r"U:\Estudis\B52_CORDELIA\Dades\PADRIS\01_BD_PADRIS_clean\AH_Episodis.csv", sep = "|")
ep_test = pd.read_csv(r"U:\Estudis\B52_CORDELIA\Dades\PADRIS\TESTING\AH_Episodis.csv", sep = "|")

In [ ]:
def detect_separator(inpath, sample_size = 1000):
    """ Detect the separator in the input file."""
    with open(inpath, 'r', encoding='utf-8') as f:
        sample = f.read(sample_size)
        sniffer = csv.Sniffer()
        try:
            dialect = sniffer.sniff(sample)
            return dialect.delimiter
        except csv.Error:
            return None  # Could not detect

                      data_ingres                              data_alta  \
                             self       other                       self
0       2016-05-19 00:00:00+00:00  2016-05-19  2016-05-19 00:00:00+00:00
1       2020-05-18 00:00:00+00:00  2020-05-18  2020-05-27 00:00:00+00:00
2       2021-02-22 00:00:00+00:00  2021-02-22  2021-02-22 00:00:00+00:00
3       2007-06-28 00:00:00+00:00  2007-06-28  2007-06-28 00:00:00+00:00
4       2008-08-28 00:00:00+00:00  2008-08-28  2008-08-28 00:00:00+00:00
...                           ...         ...                        ...
332318  2012-08-02 00:00:00+00:00  2012-08-02  2012-08-16 00:00:00+00:00
332319  2012-12-04 00:00:00+00:00  2012-12-04  2012-12-07 00:00:00+00:00
332320  2013-07-12 00:00:00+00:00  2013-07-12  2013-07-12 00:00:00+00:00
332321  2012-12-28 00:00:00+00:00  2012-12-28  2012-12-28 00:00:00+00:00
332322  2013-11-11 00:00:00+00:00  2013-11-11  2013-11-11 00:00:00+00:00


             other
0       2016-05-19
1       2020-05-27
2       2021-02-22
3       2007-06-28
4       2008-08-28
...            ...
332318  2012-08-16
332319  2012-12-07
332320  2013-07-12
332321  2012-12-28
332322  2013-11-11

[314497 rows x 4 columns]